# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
/[Uu]ser[Ss]ettings/
ASetStoreTools*
/Assets/AssetStoreTools*
[Ee]xported[Oo]bj/
.vs/
sysinfo.txt
*.apk
*.unitypackage
.DS_Store

# Godot
.godot/
*.import
export_presets.cfg
*.translation

# Java / Maven
target/
.idea/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

# Data files
JMdict_e
*.json
*.sqlite
*.db

# Python
__pycache__/
*.py[cod]
*$py.class
